


{% extends 'base.html' %}

{% block title %}IMS{% endblock %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Menu Items</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        
        <div id="datatablesSearch" class="me-2">
            <!-- DataTables search input will be inserted here -->
        </div>
        <div id="datatablesButtons" class="btn-group me-2">
            <!-- DataTables buttons will be inserted here -->
        </div>
        <!-- Create item modal -->
        <!-- <button type="button" class="btn btn-primary d-flex align-items-center gap-1" data-bs-toggle="modal"
            data-bs-target="#createItemModal">Create Item
        </button> -->
    </div>
</div>

<div class="table-responsive">
    <table id="itemTable" class="table" style="width:100%">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>ID</th>
                <th scope="col" class="first-column">Menu Item</th>
                <th>Description</th>
                <th>Category</th>
                <th scope="col" class="actions-col"></th>
            </tr>
        </thead>
        <tbody>
            {% if menu_items %}
            {% for item in menu_items %}
            <tr data-item-id="{{ item.item_id }}">
                <td><input type="checkbox" class="row-select"></td>
                <td>{{ item.item_id|none_to_empty }}</td>
                <td>{{ item.menu_item_name|none_to_empty }}</td>
                <td>{{ item.menu_item_description|none_to_empty }}</td>
                <td>{{ item.category_name|none_to_empty }}</td>
                <td>
                    <div class="dropdown">
                        <div class="dropdown-toggle hide-dropdown-arrow" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="bi">
                                <use xlink:href="#three-dots"></use>
                            </svg>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item edit-menu-item" data-bs-toggle="modal" data-bs-target="#editMenuItemModal" 
                                data-item-id="{{ item.item_id }}">Edit
                            </a>
                            <a class="dropdown-item" href="#">Duplicate</a>
                            <a class="dropdown-item" href="#">Archive</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#resetConf"
                                data-item-name="{{ item.menu_item_name }}" data-item-id="{{ item.item_id }}">Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>




<!-- EDIT Menu Item Modal -->
<div id="editMenuItemModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div id="editMenuItemForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <h2 class="modal-title w-100 text-center">Edit Menu Item</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container" style="max-width: 750px;">
                        <h5 class="modal-title">Details</h5>
                        <input type="hidden" id="editMenuItemID" name="editMenuItemID" class="form-control" value="" />
                        <div class="mb-3">
                            <label for="editMenuItemName">Name</label>
                            <input type="text" id="editMenuItemName" name="editMenuItemName" placeholder="Name" class="form-control" value="" />
                        </div>
                        <div class="mb-3">
                            <label for="editMenuItemDescription">Description</label>
                            <textarea id="editMenuItemDescription" name="editMenuItemDescription" placeholder="Description" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="editMenuItemCategory">Category</label>
                            <input id="editMenuItemCategory" name="editMenuItemCategory" placeholder="Category" class="form-control">
                        </div>


                        <h5>Components</h5>
                        <ul id="menuItemComponentsList">
                            <!-- Menu item components will be populated here -->
                        </ul>

                        <hr>
                        <h6>Add New Component</h6>
                        <div class="form-group">
                            <label for="newComponent">Inventory Item</label>
                            <select id="newComponent" class="form-control">
                                <!-- Populate this dynamically with available inventory items -->
                                {% for item in inventory_items %}
                                    <option value="{{ item.inventory_item_id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="newQuantity">Quantity Required</label>
                            <input type="number" id="newQuantity" class="form-control" step="0.01">
                        </div>
                        <button id="addComponentBtn" class="btn btn-primary">Add Component</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<br>



<!-- Bootstrap & jQuery JS -->
<!-- jQuery (must be first) -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<!-- JSZip for Excel button -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.js"></script>

<!-- DataTables Core -->
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>

<!-- DataTables Buttons -->
<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.colVis.js"></script>

<!-- Other DataTables plugins -->
<script src="https://cdn.datatables.net/autofill/2.7.0/js/dataTables.autoFill.js"></script>
<script src="https://cdn.datatables.net/autofill/2.7.0/js/autoFill.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/colreorder/2.0.1/js/dataTables.colReorder.js"></script>
<script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
<script src="https://cdn.datatables.net/searchpanes/2.3.1/js/dataTables.searchPanes.js"></script>
<script src="https://cdn.datatables.net/searchpanes/2.3.1/js/searchPanes.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/select/2.0.1/js/dataTables.select.js"></script>
<script src="https://cdn.datatables.net/staterestore/1.4.1/js/dataTables.stateRestore.js"></script>
<script src="https://cdn.datatables.net/staterestore/1.4.1/js/stateRestore.bootstrap5.js"></script>
<!-- DataTables Concat (as above) -->
<!-- <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.5/af-2.7.0/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/cr-2.0.1/date-1.5.2/fh-4.0.1/rg-1.5.0/rr-1.5.0/sb-1.7.1/sp-2.3.1/sl-2.0.1/sr-1.4.1/datatables.min.js"></script> -->

<!-- Custom JS Links-->
<script defer src="../static/js/menuitemdatatable.js"></script>
<script defer src="../static/js/menu-items.js"></script>

{% endblock %}